# common cmake build directories
bld/
doxygen/
out/
3rd_party/include
3rd_party/lib
3rd_party/prebuilt
3rd_party/bin
3rd_party/gmock
3rd_party/naked_ace/
Temp/

#IDE generated project files
*.user
*.user.*
*.vs

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Library generated exports
*.exp

# Environment activation script
activate.env
.directory
