# common cmake build directories
build*/
bld/
out/
3rd_party/include
3rd_party/lib
3rd_party/bin

#IDE generated project files
*.user

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
