# add repo scripts to path
export PATH=./docker/scripts:$PATH

export DOCKER_FORWARD_NAME="segs-docker"

# increased verbosity for cmake tests
export CTEST_OUTPUT_ON_FAILURE=1
export ARGS="-V"

alias docker-forward="docker-forward.sh"
alias docker-build="docker-build.sh"
alias docker-restart="docker-restart.sh"
alias docker-start="docker-start.sh"
